html {
  background-color: #444;
  color: #fff;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

.tip {
  font-size: 0.75em;
  font-style: italic;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.radioBar {
  cursor: pointer;
  user-select: none;
  margin: 10px 5px;
}
.radioBar > input {
  display: none;
}
.radioBar > label {
  background-color: #ccc;
  padding: 5px;
  border: 1px solid #000;
}
.radioBar > input:checked + label {
  background-color: #ff0;
}
.radioBar > label:first-of-type {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.radioBar > label:last-of-type {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.checkBar {
  cursor: pointer;
  user-select: none;
  margin: 10px 5px;
}
.checkBar > input {
  display: none;
}
.checkBar > label {
  background-color: #ccc;
  padding: 5px;
  border: 1px solid #000;
}
.checkBar > input:checked + label {
  background-color: #ff0;
}
.checkBar > input:disabled + label {
  background-color: #aaa;
  color: #666;
}
.checkBar > label:first-of-type {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.checkBar > label:last-of-type {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/***************************************************************************/

.RootUi {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.RootUi > .workspace {
  flex: 1;
}
.RootUi > .workspace > * {
  width: 100%;
  height: 100%;
}

.SidebarUi {
  width: 300px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
}
.SidebarUi > .toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-left: 0.5em;
}
.SidebarUi .dirtyState {
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  border: 1px solid #000;
}
.SidebarUi .dirtyState.clean {
  background-color: #080;
}
.SidebarUi .dirtyState.dirty {
  background-color: #ff0;
}
.SidebarUi .dirtyState.saving {
  background-color: #f80;
}
.SidebarUi li.highlight {
  background-color: #224;
}
.SidebarUi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}
.SidebarUi ul.typelist > li > .tname {
  border-top: 1px solid #222;
  background-color: #333;
  font-weight: bold;
  padding: 0 0.5em;
}
.SidebarUi ul.typelist > li > .tname.open {
  background-color: #040;
}
.SidebarUi li[data-path] {
  padding: 0 1em;
}
.SidebarUi ul.reslist {
  margin-bottom: 0.5em;
}

.ResOptionsModal .editorList {
  display: flex;
  flex-direction: column;
}
.ResOptionsModal .recommended {
  background-color: #aca;
}
.ResOptionsModal .discouraged {
  background-color: #caa;
}

.EditorModal {
  display: flex;
  flex-direction: column;
}
.EditorModal > .controlsRow {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #888;
  margin-top: 4px;
  padding-top: 4px;
}

/***************************************************************************/

.TextEditor {
  display: flex;
}
.TextEditor textarea {
  flex: 1;
  background-color: #024;
  color: #fff;
}

.HexEditor {
  display: flex;
}
.HexEditor textarea {
  flex: 1;
  background-color: #010;
  color: #ff8;
}

.ImageEditor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ImageEditor > img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: contain;
}

.MetadataEditor > table {
  width: 100%;
}
.MetadataEditor td.v {
  width: 100%;
}
.MetadataEditor td.v > input {
  width: calc(100% - 10px);
}
.MetadataEditor td.v > input.invalid {
  border-color: #f00;
}
.MetadataEditor td.v > input.invalid:focus {
  outline-color: #f00;
}

.StringsEditor {
  overflow-y: scroll;
}
.StringsEditor > table {
  width: 100%;
}
.StringsEditor tr.string {
  color: #aaa;
}
.StringsEditor input.string {
  width: calc(100% - 5px);
  background: none;
  color: #fff;
}
.StringsEditor td.index {
  text-align: right;
  width: 4em;
}
.StringsEditor tr:nth-child(odd) {
  background-color: #555;
}

.SongEditor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #444;
  color: #fff;
}
.SongEditor > .globals {
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: row;
}
.SongEditor > .globals > .player {
  margin-left: 10px;
}
.SongEditor > .globals > .visibility {
  margin-left: 10px;
}
.SongEditor > .channels {
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 300px); /* Manually account for SidebarUi */
  overflow-x: scroll;
}
.SongEditor > .channels > .channel {
  min-width: 200px;
  min-height: 120px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #222;
  background-color: #666;
}
.SongEditor .channel .controls {
  display: flex;
  flex-direction: row;
}
.SongEditor .channel .controls .spacer {
  flex: 1;
}
.SongEditor input.pushButton {
  display: none;
}
.SongEditor input.pushButton + label {
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;
  width: 16px;
  height: 16px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.SongEditor input.pushButton:checked + label {
  background-color: #ff0;
  color: #225;
}
.SongEditor .channel .title {
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  user-select: none;
}
.SongEditor .channel .trimRow {
  display: flex;
  flex-direction: row;
}
.SongEditor .channel .trimRow input {
  flex: 1;
}
.SongEditor .channel .trimRow .trimTattle {
  min-width: 40px;
  text-align: right;
}
.SongEditor .channel .pidRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.SongEditor .channel input[name='pid'] {
  width: 3em;
}
.SongEditor .channel .pidTattle {
  font-size: 9pt;
  flex: 1;
  margin-left: 5px;
}
.SongEditor .channel .modeRow {
  display: flex;
  flex-direction: row;
}
.SongEditor .channel .modeRow select {
  flex: 1;
}
.SongEditor > .events {
  flex: 1;
  overflow-y: scroll;
}
.SongEditor > .events > table {
  width: 100%;
}
.SongEditor > .events tr:hover {
  color: #ff0;
}
.SongEditor > .events .desc {
  font-family: monospace;
  white-space: pre;
  cursor: pointer;
}

.SongEventModal textarea {
  width: 100%;
  height: 5em;
}
.SongEventModal td.tip {
  min-width: 200px;
}

.DrumChannelModal {
  display: flex;
  flex-direction: column;
}
.DrumChannelModal .title {
  font-weight: bold;
  font-size: 24pt;
}
.DrumChannelModal .scroller {
  height: 50vh;
  min-width: 50vw;
  overflow-y: scroll;
}

.EnvUi > canvas {
  width: 480px;
  height: 240px;
  background-color: #000;
  user-select: none;
}
.EnvUi .controls {
  display: flex;
  flex-direction: row;
}
.EnvUi .zoom {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #f80;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.WaveShapeUi {
  display: flex;
  flex-direction: row;
}
.WaveShapeUi > .left {
  display: flex;
  flex-direction: column;
}
.WaveShapeUi .harmonics {
  min-width: 200px;
  min-height: 100px;
}
.WaveShapeUi .preview {
  min-width: 200px;
  min-height: 100px;
}

.WavEditor {
  display: flex;
  flex-direction: column;
}
